@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

#add-btn{
    max-width: 100px;
    min-width: 80px;
    border: none;
    background-color: pink;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px;
    border-radius: 4px;
}

#table-container{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

#table-container table{
    max-width: 400px;
    width: 100%;
    border: 1px solid hotpink;
    text-align: center;
}

#table-container table tr:first-child{
    background-color: pink;
    font-size: larger;
}